/.phpunit.cache
/node_modules
/public_html/build
/public_html/hot
/public_html/storage
/public_html/adminsFile
/public_html/student
/public_html/ticket
/public_html/user
/storage/*.key
/storage/pail
/storage/app
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
public/storage/
public/uploads/
*.zip
*.mp4
*.avi
*.rar
